.body {
  background-color: gainsboro;
}

.instantiation {
  display: flex;
  flex-direction: row;
  background-color: darkgray;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.creator {
  background-color: azure;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.listDiv {
  background-color: white;
  margin-top: 10px;
  width: 100%;
}

.tableList {
  width: 100%;
  border: 1px solid #333;
  border-collapse: collapse;
}

.tableListRow {
  height: 2.5em;
  display: flex;
  border-collapse: collapse;
  justify-content: center;
}

.tableListRowIndicator {
  background-color: crimson;
  width: 20%;
  border: 1px solid #333;
  cursor: row-resize;
}

.tableListRowDescriptor {
  width: 80%;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableListRowDescriptorSubstitution {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
