.body {
  background-color: gainsboro;
}

.instantiation {
  display: flex;
  background-color: lavender;
  justify-content: space-evenly;
  align-items: center;
  padding: 2%;
}

.creator {
  background-color: azure;
}

.list {
  background-color: white;
  margin: 3%;
}

.tableList {
  width: 100%;
  border: 1px solid #333;
}

.tableListRow {
  border: 1px solid #333;
  height: 2.5em;
  display: flex;
  justify-content: center;
}

.tableListRowIndicatorWaitlist {
  background-color: crimson;
  border-right: 1px solid #333;
  width: 20%;
}

.tableListRowIndicatorOpen {
  background-color: green;
  border-right: 1px solid #333;
  width: 20%;
}

.tableListRowDescriptor {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableListRowDescriptorSubstitution {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
