.html {
  height: 100%;
  width: auto;
}

.body {
  background-color: darkgray;
  margin: 0px;
}

.control {
  display: flex;
  flex-direction: row;
  background-color: gainsboro;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.1rem;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  gap: 1rem;
}

.creator {
  background-color: azure;
}

.creatorContent {
  background-color: azure;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.listDiv {
  margin-top: 0.75rem;
  width: 100%;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.list {
  background-color: white;
  border-collapse: collapse;
  width: 100%;
}

.listBody {
  width: 100%;
  border: 1px solid #333;
  border-collapse: collapse;
}

.listBody > .listRowPlaceholder {
  width: 100%;
  border: 1px dashed deepskyblue;
  border-collapse: collapse;
}

.listBody > .listRowDescriptorPlaceholder {
  width: 100%;
  border: 1px dashed deepskyblue;
  border-collapse: collapse;
}

.listBody > .listRowIndicatorPlaceholder {
  width: 100%;
  border: 1px dashed deepskyblue;
  border-collapse: collapse;
}

.listRow {
  height: 2.5rem;
  display: flex;
  border-collapse: collapse;
  justify-content: center;
}

.listRowControl {
  width: 5%;
  border-right: 1px solid #333;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-collapse: collapse;
}

.listRowPlaceholder {
  background-color: azure;
  height: 2.5rem;
  display: flex;
  border-width: 1px;
  border-color: deepskyblue;
  border-style: dashed;
  border-collapse: collapse;
  justify-content: center;
}

.listRowIndicator {
  background-color: crimson;
  width: 20%;
  border: 1px solid #333;
  cursor: move;
}

.listRowIndicatorPlaceholder {
  background-color: azure;
  width: 20%;
  border: 1px dashed deepskyblue;
}

.listRowDescriptor {
  width: 80%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listRowDescriptorPlaceholder {
  background-color: azure;
  width: 80%;
  border: 1px dashed deepskyblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.listRowDescriptorSubstitution {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
